<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/style.css">
    <title>Mi Primera Pagina</title>
</head>

<body  class="">

    <div class="formulario">
        <h2>Formulario de contacto</h2>
        <form action="/agregar" method="POST">
            <div class="campo">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required pattern="^[a-zA-Z]+$">
                <small></small>
            </div>
            <div class="campo">
                <label for="correo">Correo:</label>
                <input type="text" id="correo" name="correo" required pattern="^[^0-9.;:@\s]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,}$">
                <small></small>
            </div>
            <button type="submit">Enviar</button>
        </form>

    </div>
</body>

</html>